<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <!--Form -->
            <form class="login100-form validate-form" method="post" id="formulario">
                <span class="login100-form-title">
                    Llena el formulario :)
                </span>
                <span class="login100-form-title" style="font-size: 19px; margin-top: 0px; padding-bottom:25px;">
                    1. Datos del cliente
                </span>
                <!-- Nombre -->
                <span class="label">Nombre: </span>
                <div class="wrap-input100">
                    <input class="input100" type="text" name="nombre" placeholder="Nombre" id="nombre">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                
                <!-- CI -->
                <span class="label">CI: </span>
                <div class="wrap-input100">
                    <input class="input100" type="text" name="CI" placeholder="CI" id="ci">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-id-card" aria-hidden="true"></i>
                    </span>
                </div>

                <!-- Celular -->
                <span class="label">Celular: </span>
                <div class="wrap-input100">
                    <input class="input100" type="text" name="celular" placeholder="Celular" id="celular">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-phone" aria-hidden="true"></i>
                    </span>
                </div>
                <!-- Correo -->
                <span class="label">Correo: </span>
                <div class="wrap-input100">
                    <input class="input100" type="email" name="correo" placeholder="Correo" id="correo">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <span class="label">Dirección: </span>
                <div class="wrap-input100">
                    <input class="input100" type="address" name="direccion" placeholder="Direccion" id="correo">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-location-dot" aria-hidden="true"></i>
                    </span>
                </div>
                <br>
            </form><!-- end form -->

            <!-- imagen -->
            <div class="login100-pic js-tilt" data-tilt>
                <span class="login100-form-title" style="font-size: 19px; margin-top: 10px; padding-bottom:25px;">
                    2. Producto a comprar
                    <br><br>
                    <h6>{{product.nombre}}</h6>
                    <br>
                    <h6>Cantidad: {{cantidad}}</h6>
                    <br>
                    <img width="300px" [src]="'http://localhost:3000/'+product.img" alt="">
                    <br><br>
                    <h6>Precio unitario: {{product.precio}} Bs.</h6>
                    <h6>Costo de envio: {{envio}} Bs.</h6>
                    <hr>
                    <h6>Total: {{product.precio * cantidad}} Bs.</h6>
                </span>
                <a class="btn btn-warning">
                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
                   Comprar
                  </button></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Compra realizada :)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Muchas gracias por su compra!
                    <br>
                    En unos días recibirá su pedido 💜
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary"><button type="button"  data-dismiss="modal">Cerrar</button></a>
                        <a class="btn btn-primary"><button type="button" >Aceptar</button></a>
                    
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
