<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <span class="login100-form-title"> Bienvenido! </span>
      <h5>Administre los productos y artistas de la página</h5>
      <div class="cards-list">
        <div routerLink="/admin/artists" class="card 1">
          <div class="card_image">
            <img src="assets/img/bts-admin.jpg" />
          </div>
          <div class="card_title title-white">
            <p style="font-weight: 800; color:white;  font-size: 20px;">Artistas</p>
          </div>
        </div>

        <div routerLink="/admin/products" class="card 2">
          <div class="card_image">
            <img src="assets/img/albums.png" />
          </div>
          <div class="card_title title-white">
            <p style="font-weight: 800; color:white;  font-size: 20px;">Productos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
